 <div class="user-details">
  <h1> About IDAL </h1>
  <p> 4차 산업 혁명 시대에 들어서면서 산업 현장에서도 데이터에 대한 중요성이 더욱 커지고 있습니다.</p>
  <p> 산업데이터 분석 연구실(IDAL)은 인공지능, 최적화 및 수리적 기법을 활용하여 산업 현장에 적용할 수 있는 연구를 진행하고 이와 관련한 산학협력 및 컨설팅을 수행하고 있습니다. </p>
  <p> 또한, 각종 프로젝트와 연구지도를 통해 향후 산업을 주도할 미래인재 양성에도 힘쓰고 있습니다. </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>제조/생산 <br/> 데이터 분석</h2>
      <img alt="img1" src="{{ '/assets/img/anal.jpg' | prepend: site.baseurl }}" />
     <ul>
        <li> 품질 관리 및 신뢰성 분석</li>
		<li> SCM 최적화 및 운영전략</li>
		<li> 실험계획과 통계적 분석</li>
     </ul>
    </div>
    <div class="tech">
      <h2>산업 인공지능<br/>알고리즘 개발</h2>
      <img alt="img1" src="{{ '/assets/img/algo.png' | prepend: site.baseurl }}" />
     <ul>
        <li> 예지보전 알고리즘 고안</li>
        <li> 센서기술 기반 대시보드 개발</li>
		<li> 제조 스케쥴링 최적화</li>
      </ul>
    </div>
    <div class="tech">
      <h2>교육 및 <br/>인력 양성</h2>
      <img alt="img1" src="{{ '/assets/img/kpu.jpg' | prepend: site.baseurl }}" />
     <ul>
        <li> 산업 데이터사이언티스트 양성 </li>
        <li> 실현 가능한 AI 기술/연구 활성화 </li>
        <li> 공학/사회과학 문제와 분석기술의 융합인재 양성</li>
      </ul>
    </div>
</div>

<div class="user-lookforward">
	<p> 본 연구실에서는 산업 현장을 위한 AI기술을 함께 연구할 열성적인 인재들을 모집하고 있습니다.(석사과정 및 학부연구원) </br>관심있으신 분들은 성적증명서와 자유형식의 자기소개서를 첨부해서 jshuh@tukorea.ac.kr로 보내주시길 바랍니다. </p>
</div>

<div class="upss">
  <a class="ups" href="#header" data-scroll><i class="icon fas fa-chevron-up" aria-hidden="true"></i></a>
</div>
