<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About</a>
		<hr width="50%"/> 
        <a class="link" href="#professors" data-scroll>Professors</a>
		<hr width="50%"/>
		<a class="link" href="#members" data-scroll>Members</a>
		<hr width="50%"/>
        <a class="link" href="#publications" data-scroll>Publications</a>
	    <hr width="50%"/>
        <a class="link" href="#projects" data-scroll>Projects</a>
		<hr width="50%"/>
        <a class="link" href="#activities" data-scroll>Activities</a>
		<hr width="50%"/>
        <a class="link" href="#support" data-scroll>Supported by</a>
		
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fas fa-chevron-down" aria-hidden="true"></i></a>
</div>
