<hr width="100%">
<div class="user-details">
  <h1> Members </h1>
</div>
<div class = "user-members-students-div">
	
	<div class="user-members-student">
	  <div class="images-down">
		<img alt="sang" src="{{ '/assets/img/sangAs.jpg' | prepend: site.baseurl }}" />
	  </div>
	  <div class="contents-down">
		<h3> Sangki Kim </h3>
		<ul>
		  <li> M.S. Student </li>
		  <li> ML, QC </li>
		</ul>
		<div class = "member-icons">
		  <a aria-label="Send Email" href="mailto:pon03111@naver.com"><i class = "icon fa fa-envelope"></i></a>
		  <a aria-label="github" href="https://github.com/sangkimk"><i class = "icon fab fa-github"></i></a>
		</div>
	   </div>
	</div>
	
	<div class="user-members-student">
	  <div class="images-down">
		<img alt="sol" src="{{ '/assets/img/solAs.jpg' | prepend: site.baseurl }}" />
	  </div>
	  <div class="contents-down">
		<h3> Dasol Kim </h3>
		<ul>
		  <li> M.S. Student </li>
		  <li> Optimization(OR), RL </li>
		</ul>
		<div class = "member-icons">
		  <a aria-label="Send Email" href="mailto:qorwlsen@naver.com"><i class = "icon fa fa-envelope"></i></a>
		  <a aria-label="github" href="https://github.com/dasol11"><i class = "icon fab fa-github"></i></a>
		</div>
	  </div>
	</div>
	
	<div class="user-members-student">
	  <div class="images-down">
		<img alt="byun" src="{{ '/assets/img/byunAs.jpg' | prepend: site.baseurl }}" />
	  </div>
	  <div class="contents-down">
		<h3> Junhyun Byun </h3>
		<ul>
		  <li> M.S. Student </li>
		  <li> Prognostics & Health Management, Reliability Analysis </li>
		</ul>
		<div class = "member-icons">
		  <a aria-label="Send Email" href="mailto:bbjjhh1997@gmail.com"><i class = "icon fa fa-envelope"></i></a>
		  <a aria-label="github" href="https://github.com/JunHyun-DS"><i class = "icon fab fa-github"></i></a>
		</div>
	  </div>
	</div>
	
	<div class="user-members-student">
	  <div class="images-down">
		<img alt="hong" src="{{ '/assets/img/hongAs.jpg' | prepend: site.baseurl }}" />
	  </div>
	  <div class="contents-down">
		<h3> Suhong Min </h3>
		<ul>
		  <li> M.S. Student </li>
		  <li> Symbolic Regression </li>
		</ul>
		<div class = "member-icons">
		  <a aria-label="Send Email" href="mailto:net7485@naver.com"><i class = "icon fa fa-envelope"></i></a>
		  <a aria-label="github" href="https://github.com/dataSH1213"><i class = "icon fab fa-github"></i></a>
		</div>
	  </div>
	 </div>
	
	<div class="user-members-student">
	  <div class="images-down">
		<img alt="cha" src="{{ '/assets/img/chaAs.jpg' | prepend: site.baseurl }}" />
	  </div>
	  <div class="contents-down">
		<h3> Seungwoo Cha </h3>
		<ul>
		  <li> Undergraduate Student </li>
		  <li> EDA, ML </li>
		</ul>
		<div class = "member-icons">
		  <a aria-label="Send Email" href="mailto:rnrghs12@naver.com"><i class = "icon fa fa-envelope"></i></a>
		  <a aria-label="github" href="https://github.com/seungWoo1120"><i class = "icon fab fa-github"></i></a>
		</div>
	  </div>
	</div>
	
	<div class="user-members-student">
	  <div class="images-down">
		<img alt="hero" src="{{ '/assets/img/heroAs.jpg' | prepend: site.baseurl }}" />
	  </div>
	  <div class="contents-down">
		<h3> YoungWoong Kim </h3>
		<ul>
		  <li> Undergraduate Student </li>
		  <li> EDA, ML, DL </li>
		</ul>
		<div class = "member-icons">
		  <a aria-label="Send Email" href="mailto:2017316010@kpu.ac.kr"><i class = "icon fa fa-envelope"></i></a>
	 	  <a aria-label="github" href="https://github.com/Dokkodie"><i class = "icon fab fa-github"></i></a>
		</div>
	  </div>
	</div>
	
	<div class="user-members-student">
	  <div class="images-down">
		<img alt="shin" src="{{ '/assets/img/shinAs.jpg' | prepend: site.baseurl }}" />
	  </div>
	  <div class="contents-down">
		<h3> HyungChan Shin </h3>
		<ul>
		  <li> Undergraduate Student </li>
		  <li> Metaheuristic, RL, Scheduling </li>
		</ul>
		<div class = "member-icons">
		  <a aria-label="Send Email" href="mailto:parkhouse99@naver.com"><i class = "icon fa fa-envelope"></i></a>
		</div>
	  </div>
	</div>
	
	<div class="user-members-student">
	  <div class="images-down">
		<img alt="shin" src="{{ '/assets/img/jangAs.jpg' | prepend: site.baseurl }}" />
	  </div>
	  <div class="contents-down">
		<h3> SungHo Jang </h3>
		<ul>
		  <li> Undergraduate Student </li>
		  <li> ML, Physics, SCM </li>
		</ul>
		<div class = "member-icons">
		  <a aria-label="Send Email" href="mailto:jang0212@tukorea.ac.kr"><i class = "icon fa fa-envelope"></i></a>
		  <a aria-label="github" href="https://github.com/Jjineeq"><i class = "icon fab fa-github"></i></a>
		</div>
	  </div>
	</div>
	
	<div class="user-members-student">
	  <div class="images-down">
		
	  </div>
	  <div class="contents-down">
		
		<div class = "member-icons">
		
		</div>
	  </div>
	</div>
	
</div>

<div class="upsss">
  <a class="ups" href="#header" data-scroll><i class="icon fas fa-chevron-up" aria-hidden="true"></i></a>
  <hr width="100%">
</div>


<div class="user-details">
  <h1> Alumni </h1>
</div>
<div class = "user-members-students-div">
	<div class="user-members-student">
	  <div class="images-down">
		<img alt="Ko" src="{{ '/assets/img/koAs.jpg' | prepend: site.baseurl }}" />
	  </div>
	  <div class="contents-down">
		<h3> Gwangjong Ko </h3>
		<ul>
		  <li> Korea University </li>
		  <li> Integrated M.S & Ph.D Course </li>
		</ul>
		<div class = "member-icons">
		  <a aria-label="Send Email" href="mailto:rhkswhdwkd@naver.com"><i class = "icon fa fa-envelope"></i></a>
		  <a aria-label="Home" href="http://koptimizer.tech"><i class = "icon fas fa-home"></i></a>
		  <a aria-label="github" href="https://github.com/koptimizer"><i class = "icon fab fa-github"></i></a>
		</div>
	  </div>
	 </div>
	
	<div class="user-members-student">
	  <div class="images-down">
		<img alt="yong" src="{{ '/assets/img/yongAs.jpg' | prepend: site.baseurl }}" />
	  </div>
	  <div class="contents-down">
		<h3> Yongmin Kim </h3>
		<ul>
		  <li> Yonsei University </li>
		  <li> Ph.D Course </li>
		</ul>
		<div class = "member-icons">
		  <a aria-label="Send Email" href="mailto:dsym2894@gmail.com"><i class = "icon fa fa-envelope"></i></a>
		  <a aria-label="github" href="https://github.com/yongmini"><i class = "icon fab fa-github"></i></a>
		</div>
	  </div>
	</div>	
	
	<div class="user-members-student">
	  <div class="images-down">
		
	  </div>
	  <div class="contents-down">
		<h3> </h3>

		<div class = "member-icons">

		</div>
	  </div>
	</div>		

</div>


<div class="upsss">
  <a class="ups" href="#header" data-scroll><i class="icon fas fa-chevron-up" aria-hidden="true"></i></a>
</div>

