<hr width="100%">
<div class="user-details">
  <h1> Professors </h1>
</div>
<div class="user-members">
  <div class="images-right">
      <img alt="Kang" src="{{ '/assets/img/kangPro.jpg' | prepend: site.baseurl }}"/>
  </div>
  <div class="contents">
    <h3> Jihoon Kang </h3>
    <ul>
      <li> Assistance Professer, Tech University of Korea</li>
      <li> Ph.D., Industrial Management Engineering, Korea University</li>
      <li> M.S., Industrial Management Engineering, Korea University</li>
      <li> B.S., Management, KwangWoon University</li>
      <!-- - 前 Samsung SDS, Big-data Analytics team, Big-data Analytics group, Principle Data Scientist<br/>- 前 Samsung SDS Algorithm lab, IOT/Data-science lab, Senior Engineer -->
    </ul>
    <p>- Data Analystics<br/>- Machine Learning Application<br/>- Quality Control<br/></p>
    <div class = "member-icons">
      <!--<a class="project-link" href="#">More...</a>-->
      <a aria-label="Send Email" href="mailto:jhkang82@tukorea.ac.kr"><i class = "icon fa fa-envelope"></i></a>
      <a aria-label="Home" href="#"><i class = "icon fas fa-home"></i></a>
    </div>
  </div>
</div>
<div class="user-members">
  <div class="images-left">
    <img alt="huh" src="{{ '/assets/img/huhPro.jpg' | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Jaeseok Huh </h3>
    <ul>
      <li> Assistance Professer, Tech University of Korea</li>             	
      <li> Ph.D., Industrial Engineering, Seoul National University</li>        
      <li> B.S., Industrial Engineering, Seoul National University</li>     	              
    </ul>
    <p>- Scheduling/Dispatching<br/>- Deep Reinforcement Learning<br/>- Meta-heuristics<br/>- Machine Learning Application</p>
    <div class = "member-icons">
      <a aria-label="Send Email" href="mailto:jshuh@tukorea.ac.kr"><i class = "icon fa fa-envelope"></i></a>
      <a aria-label="Home" href="#"><i class = "icon fas fa-home"></i></a>
      <a aria-label="github" href="#"><i class = "icon fab fa-github"></i></a>
    </div>
  </div>
</div>
<div class="upss">
  <a class="ups" href="#header" data-scroll><i class="icon fas fa-chevron-up" aria-hidden="true"></i></a>
</div>
