<hr width="100%">
<div class="user-details">
  <h1> Publications </h1>
</div>
<div class="user-publications">
    <h3> International Journal </h3>
    <ul>
	    	<li>MinSik Chu, Seongmi Park, Jiin Jeong, Kyonghee Joo, Yongyeol Lee, and Jihoon Kang*, "Recognition of Unknown Wafer Defect via Optimal Bin Embedding Technique", The International Journal of Advanced Manufacturing Technology, Vol. 121, No. 5, pp. 3439–3451, Jun. 2022 (SCIE)</li><br/>
		<li>Inbeom Park, Jaeseok Huh*, JungKyun Kim, and Jonghun Park, "A Reinforcement Learning Approach to Robust Scheduling of Semiconductor Manufacturing Facilities", IEEE Transactions on Automation Science and Engineering, Vol. 17, No. 3, pp. 1420-1431, Jul. 2020 (SCIE)</li><br/>
		<li>Jaeseok Huh, Jonghun Park, Dongmin Shin, and Yerim Choi*, "A Behavior Optimization Method for Unmanned Combat Aerial Vehicles Using Matrix Factorization", IEEE Access, Vol. 8, pp.100298-100307, May. 2020 (SCIE)</li><br/> 
		<li>Jaeseok Huh, Jonghun Park, Dongmin Shin, and Yerim Choi*, "A Hierarchical SVM Based Behavior Inference of Human Operators Using a Hybrid Sequence Kernel", Sustainability, Vol. 11, No. 18, pp.4836-4851, Sep. 2019 (SSCI)</li><br/>
		<li>Jaeseok Huh, Moonjung Chae, Jonghun Park, and Kwanho Kim*, "A Case-Based Reasoning Approach to Fast Optimization of Travel Routes for Large-Scale AS/RSs", Journal of Intelligent Manufacturing, Vol. 30, No. 4, pp. 1765-1778, Apr. 2019 (SCIE)</li><br/>
		<li>Jaeseok Huh, Inbeom Park, Seongmin Lim, Bohyung Paeng, Jonghun Park, and Kwanho Kim*, "Learning to Dispatch Operations with Intentional Delay for Re-Entrant Multiple-Chip Product Assembly Lines", Sustainability, Vol. 10, No. 11, pp. 4123-4143, Nov. 2018 (SSCI)</li><br/>
		<li>Youngjae Choung, Jihoon Kang, and Seoungbum Kim*, "Process Control of Time Varying Systems Using Parameter-Less Self Organizing Maps", Journal of Process Control, Vol. 52, pp. 45-56, Apr. 2017 (SCI) </li><br/>
		<li>Jihoon Kang, Chanhee Park, and Seoungbum Kim*, "Recursive Partitioning Clustering Tree Algorithm", Pattern Analysis and Applications, Vol. 19, No. 2, pp.355-367, May. 2016 (SCIE) </li><br/>
		<li>Jihoon Kang, Jaehong Yu, and Seoungbum Kim*, "Adaptive Nonparametric Control Chart for Time-Varying and Multimodal Processes", Journal of Process Control, Vol. 37, pp. 34-45, 2016 (SCI) </li><br/>
		<li>Jihoon Kang and Seoungbum Kim*, "False Alarm Classification for Multivariate Manufacturing Processes of Thin Film Transistor-Liquid Crystal Display", Journal of Process Control, Vol. 35, pp. 21-29, Nov. 2015 (SCI) </li><br/>
		<li>Kyujong Lee, Jihoon Kang, Jaehong Yu, and Seoungbum Kim*, "Interpretations of Fault Identification in Multivariate Manufacturing Processes", European Journal of Industrial Engineering, Vol.9, No.3, pp.395-408, May. 2015 (SCIE) </li><br/>
		<li>Jaemin Jo, Jaeseok Huh, Jonghun Park, Bohyoung Kim, and Jinwook Seo*, "LiveGantt: Interactively Visualizing a Large Manufacturing Schedule", IEEE Transactions on Visualization and Computer Graphics, Vol. 20, No. 12, pp. 2329-2338, Dec. 2014 (SCI)</li></br>
		<li>Jihoon Kang and Seoungbum Kim*, "A Clustering Algorithm-Based Control Chart for Inhomogeneously Distributed TFT-LCD Processes", International Journal of Production Research, Vol.51, No. 18, pp.5644-5657, Sep. 2013 (SCI)</li><br/>
		<li>Donghoon Yang, Jihoon Kang, Youngbae Park, Youngjae Park, Hwansup Oh, and Seoungbum Kim*, Association Rule Mining and Network Analysis in Oriental Medicine", PLOS ONE, Vol. 8, No. 3, Mar. 2013, (SCIE)</li><br/>
		<li>Jihoon Kang, Kyujong Lee, Junghwan Son, Seogsang Hyun, Hyoungkyoon Kim, Gidon Hwang, and Seoungbum Kim*, "Bootstrap-Based Multivariate Control Charts in TFT-LCD Manufacturing Processes", Advanced Science Letter, Vol. 13, No. 1, pp. 579-583, Jun. 2012 (SCIE) </li><br/>
	</ul>
</div>
<div class="user-publications">
    <h3> Korean Journal </h3>
    <ul>
		<li>김민경, 허재석*, 사애진, 전아름, 이한별, "클러스터링 기법을 활용한 이커머스 사용자 리뷰에 따른 시장세분화 연구", 한국전자거래학회지, Vol. 27, No. 2, pp. 21-36, May. 2022 (KCI)</li><br/>
	        <li>고광종, 허재석*, "인공신경망 가중치의 효과적인 최적화를 위한 하이브리드 메타휴리스틱 알고리즘", 대한산업공학회지, Vol. 48, No. 2, pp. 227-234, Apr. 2022 (KCI)</li><br/>
		<li>김용민, 이규종, 주민식, 강지훈*, "Slot Die 코팅 공정의 모델 예측 제어를 위한 다중목적 최적화 기법", 대한산업공학회지, Vol. 47, No. 4, pp. 379-387, Aug. 2021 (KCI)</li><br/>
		<li>김상기, 김용민, 강지훈*, "확률적 비유사성 벡터를 활용한 변수선택기법", 신뢰성응용연구, Vol. 21, No. 1, pp. 61-68, Mar. 2021 (KCI)</li><br/>
		<li>허재석*, 박종헌, "제조라인의 학습기반 디스패처를 위한 디스패치 의사결정 평가 시각화시스템", 한국전자거래학회지, Vol. 25, No. 1, pp. 1-12, Feb. 2020 (KCI)</li><br/>
		<li>허재석*, 박종헌, "재유입 다중칩 조립라인을 위한 인공신경망 기반의 다중 목적 함수 디스패치 규칙 선택 기법", 한국정보기술학회논문지, Vol. 17, No. 2, pp. 1-11, Feb. 2019 (KCI)</li><br/>
    </ul>
</div>
<div class="user-publications">
    <h3> International Conference </h3>
    <ul>
		<li>Yongseok Yang, Inbeom Park, Jaeseok Huh, Bohyoung Paeng, Sungmin Lim, and Jonghun Park, "Deep Reinforcement Learning for Smart Factory Operation", The 2nd Pacific Rim Statistical Conference for Production Engineering, Seoul, Korea, Dec. 15-16, 2016</li><br/>
		<li>Sungwook Jeon, Kilho Kim, Yerim Choi, Inbeom Park, Jaeseok Huh and Jonghun Park, "Mobile Context Inference Using Multimodal Smartphone Sensor Data", 3rd Intl. Conference on Soft Computing & Machine Intelligence (ISCMI 2016), Dubai, UAE, Nov. 23-25, 2016</li><br/>
		<li>Jaemin Jo, Jaeseok Huh, Jonghun Park, Bohyoung Kim, and Jinwook Seo, "LiveGantt: Interactively Visualizing a Large Manufacturing Schedule", IEEE InfoVis 2014, Paris, France, Nov. 9-14, 2014</li>
    </ul>
</div>
<div class="user-publications">
    <h3> Korean Conference </h3>
    <ul>
	    	<li>고광종, 김다솔, 허재석, "소셜 감성 데이터를 이용한 딥러닝 기반의 암호화폐 가격 예측", 한국정보기술학회 추계종합학술대회, 25: 36-39, 2021 </li><br/>
		<li>민수홍, 김상기, 강지훈, "유전 프로그래밍을 활용한 수식 기반 형상 모델링", 한국정보기술학회 추계종합학술대회, 25: 343-345, 2021 </li><br/>
		<li>변준현, 민수홍, 강지훈, "베이지안 혼합형 모델을 이용한 잔여수명 예측", 한국정보기술학회 추계종합학술대회, 25: 346-350, 2021 </li><br/>
		<li>김나은, 변준현, 민수홍, 강지훈, "경제 지표 분석 및 다변량 모니터링 프레임워크", 한국정보기술학회 추계종합학술대회, 25: 351-356, 2021 </li><br/>
		<li>변준현, 민수홍, 강지훈, 윤대훈, "다중 기계학습을 통한 혼합형 잔여수명 예측 모델", 한국신뢰성학회 학술대회논문집, 22: 114-114, 2021</li><br/>
		<li>김용민, 강지훈, "Slot Die 코팅 공정의 모델 예측 제어를 위한 최적화 기법", 한국신뢰성학회 학술대회논문집, 22: 133-133, 2021</li><br/>
		<li>고광종, 김다솔, 허재석, "인공신경망 가중치의 효과적인 최적화를 위한 하이브리드 메타휴리스틱 알고리즘", 대한산업공학회 춘계공동학술대회, 30: 3390-3390, 2021</li><br/>
		<li>민수홍, 김상기, 강지훈, "기호 조합을 활용한 이상감지 기법", 대한산업공학회 춘계공동학술대회, 30: 5974-5984, 2021</li><br/>	
		<li>허재석, 임성민, 박인범, 팽보형, 김중균, 박종헌, 윤영민, 이호열, "반도체 패키징 라인의 TAT 감소와 설비 가동률 증가를 위한 딥러닝 기반의 디스패칭 기법", 대한산업공학회 춘계공동학술대회, 28: 580-587, 2018</li><br/>
		<li>허재석, 박인범, 팽보형, 임성민, 박종헌, 김관호, 윤영민, 이호열, "반도체 공정 스케줄의 의사 결정 단위 성능 평가를 위한 UI 시스템", 대한산업공학회 춘계공동학술대회, 27: 181-192, 2017</li><br/>
		<li>진학은, 기홍도, 채문정, 허재석, 박종헌, "스마트기기 센서 데이터를 이용한 전투행동 예측 기법", 대한산업공학회 추계공동학술대회, 26: 2325-2334, 2016</li><br/>
		<li>허재석, 양용석, 임성민, 박인범, 채문정, 김관호, 박종헌, "사례기반추론을 이용한 자 동창고의 위치 할당 및 입/출고 순간 스케줄링 기법", 대한산업공학회 춘계공동학술대회, 25: 791-797, 2014</li>
    </ul>
</div>
<div class="user-publications">
    <h3> Patents </h3>
    <ul>
	    	<li>김다솔, 허재석, "욜로와 듀얼 칼만 필터 기반의 객체 추적 시스템", 10-2022-0174401, 2022.12.14 출원</li><br/>
		<li>고광종, 허재석, "하이브리드 메타휴리스틱 알고리즘을 이용한 인공 신경망의 가중치를 최적화하는 방법 및 장치", 10-2021-0148902, 2021.11.02 출원</li><br/>
		<li>고광종, 허재석, "하이브리드 메타휴리스틱 알고리즘을 이용한 인공 신경망의 가중치를 최적화하기 위한 군집 메모리 장치 및 이의 동작 방법", 10-2021-0148903 , 2021.11.02 출원</li><br/>
   	</ul>
</div>
<div class="upss">
  <a class="ups" href="#header" data-scroll><i class="icon fas fa-chevron-up" aria-hidden="true"></i></a>
</div>

