<!DOCTYPE html>
<!--code by Pang Jong-->
<html lang="en">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
  />
  {% include head.html %}
  <body>
      {% include header.html %}
      <section id="about">
        {% include about.html %}
      </section>
	  <section id="professors">
        {% include professors.html %}
      </section>
      <section id="members">
        {% include members.html %}
      </section>
      <section id="publications">
		{% include publications.html %}
      </section>
	  <section id="projects">
		{% include projects.html %}
      </section>
	  <section id="activities">
        {% include activities.html %}
      </section>
	  <section id="support">
        {% include support.html %}
      </section>
      {% include footer.html %}
  </body>
